.main {
  background-color: rgb(228, 216, 216);
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: baseline;
  gap: 20px;
  width: 100%;
  height: 100vh;
}

.salesfloor_page {
  position: relative;
  width: 900px;
  height: 600px;
  border: 2px solid rgb(64, 3, 90);
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-color: rgb(254, 254, 254);
}
.salesfloor_container {
  width: 100%;
  height: 100%;
  background-image: url("/salesfloor_img.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.icon {
  color: rgb(97, 6, 172);
}

.button {
  width: 50px;
  height: 50px;
  left: 54rem;
  top: 26rem;
}

.hidden {
  display: none;
  /* min-height: 300px;
  width: 500px;
  background-color: bisque;
  z-index: 1; */
}

.show {
  border: 1px solid black;
  display: block;
  min-height: 300px;
  width: 500px;
  background-color: bisque;
  z-index: 1;
}

.fwimg {
  width: 450px;
  height: 500px;
}
